<div class="row">

    <div class="col-md-4 p-4" *ngFor="let note of notes">

        <div class="card card-note" (click)="selectedNote(note._id)">

            <div class="card-body">

                {{note.description}}

            </div>

            <img [src]="note.imagePath" class="img-card-top w-100"/>

        </div>

    </div>

    <div class="col-md-8 p-4" *ngIf="notes.length === 0">

        <div class="text-center">

            <h3>You don't have any saved notes</h3>

            <button class="btn btn-primary" routerLink="/notes/new">Add Note</button>

        </div>
    
    </div>

</div>
